

/* container */
.themesflat-container {
    position     : relative;
    margin-left  : auto;
    margin-right : auto;
    padding-right: 15px;
    padding-left : 15px;
    width        : 1140px;
    max-width    : 100%;
}

.themesflat-container.w1490 {
    width: 1520px;
}

.tf-section {
    padding: 30px 0;
}

/* button 
--------------------------------------------------*/
.tf-button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    color: #161616;
    background-color: #DEE8E8;
    border-radius: 12px;
    font-size: 14px;
    font-weight: 800;
    width: 116px;
    height: 42px;
    text-transform: capitalize;
    -webkit-transition: all 0.3s ease;
    -moz-transition   : all 0.3s ease;
    -ms-transition    : all 0.3s ease;
    -o-transition     : all 0.3s ease;
    transition        : all 0.3s ease;
}

.tf-button:hover,
.tf-button.active {
    color: #161616;
    background-color: #DDF247;
}

.tf-button.style-1 {
    width: 170px;
    height: 44px;
    gap: 10px;
    flex-shrink: 0;
    background-color: #DDF247;
}

.tf-button.style-1:hover,
.tf-button.style-1.active {
    color: #161616;
    background-color: #fff;
}

/* tf-button loadmore */
.tf-button-loadmore {
    width: 160px;
    height: 44px;
    padding: 10px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 12px;
    background: #DEE8E8;
    -webkit-transition: all 0.3s ease;
    -moz-transition   : all 0.3s ease;
    -ms-transition    : all 0.3s ease;
    -o-transition     : all 0.3s ease;
    transition        : all 0.3s ease;
}

.tf-button-loadmore:hover {
    background-color: #DDF247;
}

.tf-button-loadmore span {
    color: #161616;
    font-size: 14px;
    line-height: 19px;
    font-weight: 800;
    text-transform: capitalize;
}

.tf-button-loadmore i.icon-loading-1::before {
    font-size: 18px;
    color: rgba(22, 22, 22, 1);
}

.tf-button-loadmore:hover i {
    animation: rotate360 1.5s infinite linear;
}

/* flat-title-page */
.flat-title-page {
    padding-top: 60px;
    padding-bottom: 50px;
}

.flat-title-page .heading {
    line-height: 55px;
    color: #fff;
    font-weight: 800;
    text-transform: capitalize;
    margin-bottom: 10px;
}

.breadcrumbs li {
    margin-right: 32px;
    opacity: 0.5;
    position: relative;
}

.breadcrumbs li.icon-keyboard_arrow_right::before {
    position: absolute;
    right: -22px;
    font-size: 12px;
}

.breadcrumbs li a {
    color: #FFF;
    text-align: center;
    font-size: 14px;
    font-family: 'Manrope';
    font-weight: 800;
    text-transform: capitalize;
    line-height: 10px;
}

/* tf card article 
--------------------------------------------------*/
.tf-card-article {
    background        : #232323;
    padding           : 20px;
    border-radius     : 20px;
    margin-bottom     : 40px;
    -webkit-transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    transition        : all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.tf-card-article:hover {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
}

.tf-card-article .card-media {
    border-radius: 17px;
    overflow: hidden;
    margin-bottom: 12px;
}

.tf-card-article .card-media img {
    width: 100%;
    object-fit: cover;
    -webkit-transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.tf-card-article:hover .card-media img {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
    object-fit: cover;
}

.meta-info .item {
    color:#fff;
    opacity: 0.6;
    font-size: 14px;
    line-height: 16px;
    font-family: Manrope;
    font-weight: 500;
    margin-right: 14px;
    margin-left: 22px;
    position: relative;
    -webkit-transition: all 0.3s ease;
    -moz-transition   : all 0.3s ease;
    -ms-transition    : all 0.3s ease;
    -o-transition     : all 0.3s ease;
    transition        : all 0.3s ease;
}

.meta-info .item::before {
    position: absolute;
    font-family: "icomoon";
    left: -22px;
    font-size: 16px;
}

.meta-info .art::before {
    content: "\e90c";
}

.meta-info .date::before {
    content: "\e90d";
}

.meta-info .comment::before {
    content: "\e92a";
}

.meta-info .item.active,
.meta-info .item:hover {
    color: #DDF247;
    opacity: 1;
}

.tf-card-article .card-title {
    margin-bottom: 0;
}

.tf-card-article .card-title h5 {
    margin-top: 12px;
    font-size: 20px;
    font-weight: 800;
    line-height: 27px;
}

.tf-card-article .card-title p {
    color: rgba(255, 255, 255, 0.53);
    font-size: 14px;
    font-family: 'Azeret Mono';
    line-height: 22px;
    margin-top: 18px;
}

.tf-card-article .card-bottom {
    margin-top: 20px;
    border-top: 1px solid rgba(255, 255, 255, 0.08);
    padding-top: 20px;
}

.author .avatar {
    width: 38px;
    height: 38px;
    border-radius: 38px;
    overflow: hidden;
    margin-right: 10px;
    flex-shrink: 0;
}

.author .info span {
    font-size: 12px;
    color: rgba(255, 255, 255, 0.3);
    font-family: 'Azeret Mono';
    line-height: 19px;
}

.author .info h6 {
    font-size: 12px;
    font-family: 'Azeret Mono';
    line-height: 19px;
    font-weight: 400;
}

.tf-card-article .link {
    width: 44px;
    height: 44px;
    padding: 10px;
    border-radius: 12px;
    background: rgba(255, 255, 255, 0.05);
    display: flex;
    justify-content: center;
    align-items: center;
}

.tf-card-article .link i {
    font-size: 18px;
    -webkit-transition: all 0.3s ease;
    -moz-transition   : all 0.3s ease;
    -ms-transition    : all 0.3s ease;
    -o-transition     : all 0.3s ease;
    transition        : all 0.3s ease;
}

.tf-card-article .link:hover i {
    transform: rotate(45deg);
}

/* tf-card-box */
/* -------------------------------------- */
.tf-card-box { 
    border-radius: 30px;
    background: #1E1E1E;
    padding: 12px 12px 17px 12px;
    margin-bottom: 40px;
    -webkit-transition: all 0.3s ease;
    -moz-transition   : all 0.3s ease;
    -ms-transition    : all 0.3s ease;
    -o-transition     : all 0.3s ease;
    transition        : all 0.3s ease;
}

.tf-card-box:hover {
    transform: translateY(-10px);
}

.tf-card-box .card-media {
    position: relative;
    margin-bottom: 12px;
    border-radius: 25px;
    overflow: hidden;
}

.tf-card-box .card-media img {
    width: 100%;
    object-fit: cover;
    transition: all 0.3s ease-in-out;
}

.tf-card-box:hover .card-media a img {
    transform: scale(1.1);
}

/* wishlist-button */
.wishlist-button {
    position: absolute;
    top: 12px;
    right: 12px;
    width: 26px;
    height: 26px;
    border-radius: 26px;
    background: rgba(255, 255, 255, 0.20);
    backdrop-filter: blur(2px);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.wishlist-button.active::before {
    color: red;
}

/* featured-countdown */
.featured-countdown {
    position        : absolute;
    top             : 12px;
    right           : 42px;
    display         : flex;
    align-items     : center;
    justify-content : center;
    font-weight     : 800;
    font-size       : 12px;
    line-height     : 9px;
    padding         : 8.5px 10px;
    border-radius   : 9999px;
    background-color: rgba(255, 255, 255, 0.20);
    backdrop-filter : blur(2px);
    width           : 90px;
}

.featured-countdown .countdown__label {
    margin: 0 3px 0 0;
}

/* button-place-bid */
.button-place-bid {
    position: absolute;
    bottom: 0px;
    transform: translateX(-50%);
    left: 50%;
    text-align: center;
    opacity: 0;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.tf-card-box:hover .card-media .button-place-bid {
    bottom: 12px;
    opacity: 1;
    transition-delay: 0.1s;
}

.tf-card-box .meta-info .name {
    font-weight: 800;
    line-height: 25px;
    margin-bottom: 4px;
}

.price.gem {
    font-size: 16px;
    font-weight: 800;
    line-height: 22px;
}

.price.gem i {
    margin-right: 4px;
}

/* style-1 */
.tf-card-box.style-1 {
    padding-bottom: 14px;
}
.tf-card-box.style-1 .name {
    margin-bottom: 10px;
}

.tf-card-box.style-1 .divider {
    margin-top: 16px;
    margin-bottom: 16px;   
}

.text-bid {
    color: rgba(255, 255, 255, 0.3);
    font-size: 12px;
    font-family: 'Azeret Mono';
    font-weight: 400;
    line-height: 19px;
}

.tf-card-box.style-1:hover .card-media .button-place-bid {
    bottom: auto;
    top: 50%;
    transform: translate(-50%,-50%);
}

/* style-3 */
.tf-card-box.style-3 {
    position: relative;
    border-radius: 30px;
    overflow: hidden;
    padding: 0;
    box-shadow: 0px 30px 70px 0px #0A0A0A;
    width: 456px;
    height: 560px;
}

.tf-card-box.style-3:hover .button-place-bid {
    top: 50%;
}

.tf-card-box.style-3 .card-bottom {
    border-radius: 0px 0px 16px 16px;
    background: rgba(255, 255, 255, 0.30);
    backdrop-filter: blur(2px);
    position: absolute;
    padding: 10px 16px 10px 10px;
    bottom: 0;
    left: 0;
    width: 100%;
}

/* tf-card-collection */
.tf-card-collection {
    padding: 10px 10px 12px 10px;
    border-radius: 20px;
    background: #232323;
}

.tf-card-collection .media-images-collection {
    margin-bottom: 16px;
    border-radius: 20px;
    overflow: hidden;
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 6px;
    position: relative;
}

.tf-card-collection .media-images-collection .author-poster {
    position: absolute;
    width: 116px;
    height: 116px;
    border-radius: 116px;
    overflow: hidden;
    border: 6px solid #232323;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.tf-card-collection .card-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 8px;
}

.tf-card-collection .author h4 {
    font-weight: 800;
    line-height: 25px;
} 

.tf-card-collection .author .infor {
    font-size: 12px;
    font-family: 'Azeret Mono';
    font-weight: 400;
    line-height: 19px;
    color: rgba(255, 255, 255, 0.3);
}

.tf-card-collection .bottom-right {
    display: flex;
    text-align: center;
}

.tf-card-collection .bottom-right .shop {
    padding-right: 20px;
    border-right: 1px solid rgba(217, 217, 217, 0.1);
    margin-right: 20px;
}

.tf-card-collection .bottom-right .shop .icon {
    padding: 6px;
    border-radius: 26px;
    background: rgba(255, 255, 255, 0.20);
    width: 26px;
    height: 26px;
    margin: auto;
    margin-bottom: 4px;
}

.tf-card-collection .bottom-right .shop svg {
    width: 14px;
    height: 14px;
}

.tf-card-collection .bottom-right p {
    color: #FFF;
    font-size: 14px;
    font-weight: 800;
    line-height: 19px;
    text-transform: capitalize;
}

.tf-card-collection .bottom-right .like span {
    position: unset;
    margin: auto;
    margin-bottom: 4px;
}

/* style-1 */
.tf-card-collection.style-1 .image {
    border-radius: 16px;
    overflow: hidden;
}

.tf-card-collection.style-1 .image img  {
    -webkit-transition: all 0.3s ease;
    -moz-transition   : all 0.3s ease;
    -ms-transition    : all 0.3s ease;
    -o-transition     : all 0.3s ease;
    transition        : all 0.3s ease;
}

.tf-card-collection.style-1:hover .image img {
    transform: scale(1.05);
}

.tf-card-collection.style-1 .card-bottom {
    border-radius: 0px 0px 16px 16px;
    background: rgba(255, 255, 255, 0.30);
    backdrop-filter: blur(2px);
    position: absolute;
    padding: 10px;
    bottom: 10px;
    left: 0;
    width: -webkit-fill-available;
    margin: 0 10px;
}

.tf-card-collection.style-1 .author .infor {
    color: rgba(255, 255, 255, 1);
}

.tf-card-collection.style-1 .bottom-right .shop {
    margin: 0;
    padding: 0 0 0 18px;
    border: none;
    border-left: 1px solid rgba(217, 217, 217, 0.1);
}

.tf-card-collection.style-1 .like {
    position: absolute;
    top: 20px;
    right: 20px;
    border-radius: 9999px;
    background: rgba(255, 255, 255, 0.20);
    backdrop-filter: blur(2px);
    padding: 6px 10px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.tf-card-collection.style-1 .like .wishlist-button {
    position: unset;
    width: 14px;
    height: 14px;
    background: none;
    border: none;
    backdrop-filter: unset;
}

.tf-card-collection.style-1 .like p {
    color: #FFF;
    font-size: 12px;
    font-weight: 800;
    line-height: 9px;
    text-transform: capitalize;
}

/* side-bar */
/* ----------------------------------------- */
.side-bar .widget-search {
    margin-bottom: 30px;
}

.side-bar .widget {
    margin-bottom: 30px;
    padding: 20px;
    background-color: #232323;
    border-radius: 20px;
}

.side-bar .title-widget {
    margin-bottom: 20px;
    line-height: 25px;
    font-weight: 800;
}

.widget-categories ul li {
    display: flex;
    justify-content: space-between;
    padding-bottom: 14px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.08);
    margin-bottom: 14px;
}

.widget-categories ul li:last-child {
    padding: 0;
    border: none;
    margin: 0;
}

.widget-categories ul li .cate-item {
    padding-left: 23px;
    font-size: 14px;
    font-family: 'Azeret Mono';
    line-height: 22px;
    position: relative;
}

.widget-categories ul li .cate-item::before {
    font-family: 'icomoon';
    content: "\e92b";
    position: absolute;
    left: 0;
    font-size: 16px;
}

.widget-categories ul li .number {
    font-size: 14px;
    font-family: 'Azeret Mono';
    line-height: 22px;
    color: rgba(255, 255, 255, 0.53);
}

.widget-related-posts .related-posts-item {
    display: flex;
    margin-top: 20px;
    border-top: 1px solid rgba(255, 255, 255, 0.08);
    padding-top: 20px;
}

.widget-related-posts .related-posts-item .card-media {
    min-width: 130px;
    height: 91px;
    margin-right: 15px;
    border-radius: 14px;
    overflow: hidden;
}

.widget-related-posts .related-posts-item h5 {
    font-size: 14px;
    font-weight: 800;
    line-height: 19px;
    margin-bottom: 12px;
}

.widget-related-posts .related-posts-item .item {
    color: #fff;
    opacity: 0.6;
    font-size: 14px;
    line-height: 16px;
    font-family: Manrope;
    font-weight: 500;
    margin-right: 14px;
    margin-left: 22px;
    position: relative;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.widget-related-posts .related-posts-item .item::before {
    position: absolute;
    content: "\e90d";
    font-family: "icomoon";
    left: -22px;
    font-size: 16px;
}

.widget-related-posts .related-posts-item .item.art::before {
    content: "\e90c";
}

.widget-related-posts .related-posts-item.main {
    flex-wrap: wrap;
    margin-top: 0;
    border: none;
    padding-top: 0;
}

.widget-related-posts .related-posts-item.main .card-media {
    height: auto;
    margin-bottom: 16px;
    margin-right: 0;
}

.widget-related-posts .related-posts-item.main h5 {
    font-size: 16px;
    line-height: 22px;
    padding-top: 12px;
    margin-bottom: 0;
}

.widget-tag ul li {
    margin-right: 8px;
    margin-bottom: 8px;
}

.widget-tag ul li a {
    line-height: 15px;
    padding: 10px 14px;
    font-size: 13px;
    font-family: 'Azeret Mono';
    border-radius: 10px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    color: #000;
}

.widget-tag ul li a:hover {
    background-color: #DDF247;
}

/* tf-grid-blog */
/* --------------------------------------- */
.tf-grid-blog .side-bar {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
}

.tf-grid-blog .wrap-inner {
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
}

/* tf-list-blog */
/* --------------------------------------- */
.tf-list-blog .tf-card-article {
    transform: none;
}

.tf-card-article.style-1 {
    display: flex;
}

.tf-card-article.style-1 .card-media {
    margin-bottom: 0 !important;
    margin-right: 20px;
    min-width: 335px;
}

/* tf-blog-detail */
/* --------------------------------------- */
.flat-title-page.blog-detail {
    padding-top: 50px;
    padding-bottom: 40px;
}

.tf-blog-detail .inner-content .divider {
    
    margin-top: 18px;
    margin-bottom: 30px;
}

.tf-blog-detail .inner-content > .title {
    color: #FFF;
    font-size: 14px;
    font-family: "Azeret Mono";
    font-weight: 700;
    line-height: 22px;
    margin-bottom: 28px;
}

.tf-blog-detail .inner-content .image img {
    width: 100%;
    border-radius: 23px;
    margin-bottom: 28px;
}

.tf-blog-detail .inner-content .heading {
    color: #FFF;
    font-size: 20px;
    font-weight: 800;
    line-height: 27px;
    margin-bottom: 28px;
}

.tf-blog-detail .inner-content .inner-post p {
    color: rgba(255, 255, 255, 0.53);
    font-size: 14px;
    font-family: 'Azeret Mono';
    line-height: 22px;
    margin-bottom: 20px;
}

.tf-blog-detail .inner-content .inner-post blockquote {
    display: flex;
    padding: 20px ;
    align-items: center;
    border-radius: 20px;
    background: #232323;
    margin-left: 2px;
    margin-bottom: 20px;
    position: relative;
}

.tf-blog-detail .inner-content .inner-post blockquote::before {
    position: absolute;
    content: "";
    width: 2px;
    height: 84px;
    left: -2px;
    border-radius: 2px;
    background:  linear-gradient(rgba(255, 235, 0, 1), rgba(45, 196, 26, 1));
}

.tf-blog-detail .inner-content .inner-post blockquote p {
    padding-left: 20px;
    border-left: 1px solid rgba(255, 255, 255, 0.1);
    margin-left: 20px;
    margin-bottom: 0;
}

.tf-blog-detail .inner-content .inner-post blockquote span {
    width: 50px;
    height: 50px;
    background-color: #DDF247;
    border-radius: 50%;
    padding: 13px;
}

.tf-blog-detail .inner-content .inner-post blockquote span::before {
    font-size: 24px;
    color: rgba(3, 1, 4, 1);
}

.tf-blog-detail .inner-content .inner-post .image-box img {
    border-radius: 23px;
    width: 100%;
    margin-bottom: 20px;
}

.tf-blog-detail .inner-content .inner-post.style-1 .image-box {
    display: flex;
    gap: 20px;
}   

.tf-blog-detail .inner-content .divider.style-1 {
    margin-top: 28px;
    margin-bottom: 28px;
}

.tf-blog-detail .inner-content .bottom .widget-tag .title-widget {
    color: #919191;
    font-size: 13px;
    font-family: 'Azeret Mono';
    line-height: 15px;
    margin-right: 10px;
}

.tf-blog-detail .inner-content .bottom .widget-tag ul li {
    margin-bottom: 0;
    margin-right: 4px;
}

.tf-blog-detail .inner-content .bottom .widget-tag ul li a {
    border-radius: 6px;
    background: rgba(145, 145, 145, 1);
    color: #161616;
}

.tf-blog-detail .inner-content .bottom .widget-tag ul li a:hover {
    background-color: #DDF247;
}

.tf-blog-detail .inner-content .related-post {
    margin-top: 60px;
    margin-bottom: 60px;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.tf-blog-detail .inner-content .related-post::before {
    position: absolute;
    content: "";
    background-color: rgba(255, 255, 255, 0.1);
    top: 0;
    left: 50%;
    width: 1px;
    height: 100%;
}
.tf-blog-detail .inner-content .related-post > div {
    width: 47%;
}

.tf-blog-detail .inner-content .related-post a {
    font-size: 16px;
    line-height: 22px;
    color: rgba(255, 255, 255, 0.5);
}

.tf-blog-detail .inner-content .related-post a:hover {
    color: #DDF247;
}

.tf-blog-detail .inner-content .related-post a i {
    font-size: 14px;
    margin-right: 8px;
}

.tf-blog-detail .inner-content .related-post .action img {
    border-radius: 8px;
    margin-right: 14px;
}

.tf-blog-detail .inner-content .related-post .action h5 {
    line-height: 25px;
    margin-bottom: 12px;
}

.tf-blog-detail .inner-content .related-post .next a i {
    margin-right: 0;
    margin-left: 8px;
}

.tf-blog-detail .inner-content .related-post .next .date {
    margin-right: 0;
}

.tf-blog-detail .inner-content .related-post .next img {
    margin-right: 0;
    margin-left: 14px;
}

/* comment */
.tf-blog-detail .inner-content .widget-comment h3 {
    font-size: 30px;
    font-weight: 800;
    line-height: 41px;
    text-transform: capitalize;
    margin-bottom: 30px;
}

.tf-blog-detail .inner-content .widget-comment ul li {
    border-radius: 20px;
    background: #232323;
    padding: 20px;
    margin-bottom: 20px;
    display: flex;
}

.tf-blog-detail .inner-content .widget-comment ul li img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 20px;
}

.tf-blog-detail .inner-content .widget-comment ul li .top h5 {
    font-size: 18px;
    line-height: 25px;
    font-weight: 800;
}

.tf-blog-detail .inner-content .widget-comment ul li .top span {
    color:rgba(255, 255, 255, 0.3);
    font-size: 14px;
    font-weight: 500;
}

.tf-blog-detail .inner-content .widget-comment ul li p {
    margin-top: 12px;
    margin-bottom: 12px;
    color: rgba(255, 255, 255, 0.53);
    font-family: 'Azeret Mono';
    line-height: 22px;
    font-size: 14px;
}

.tf-blog-detail .inner-content .widget-comment ul li a {
    color:  #DDF247;
    line-height: 19px;
    font-size: 14px;
    font-weight: 800;
    text-transform: capitalize;
}

.tf-blog-detail .inner-content .widget-comment ul li.rep {
    margin-left: 90px;
}

.tf-blog-detail .inner-content .widget-reply {
    margin-top: 60px;
}

.tf-blog-detail .inner-content .widget-reply h3 {
    font-size: 30px;
    line-height: 41px;
    margin-bottom: 10px;
    font-weight: 800;
    text-transform: capitalize;
}

.tf-blog-detail .inner-content .widget-reply p {
    font-size: 12px;
    font-family: 'Azeret Mono';
    font-weight: 500;
    line-height: 17px;
    margin-bottom: 30px;
    color: rgba(255, 255, 255, 0.5);
}
.tf-blog-detail .inner-content .widget-reply .name,
.tf-blog-detail .inner-content .widget-reply .email {
    width: 48%;
    margin-bottom: 22px;
}

.tf-blog-detail .inner-content .widget-reply textarea {
    margin-bottom: 22px;
}

.tf-blog-detail .inner-content .widget-reply button {
    width: 261px;
    font-weight: 800;
}

/* flat-pages-title */
.flat-pages-title {
    padding-top: 188px;
    padding-bottom: 60px;
    background-image: url(../images/item-background/bg-home1.png) ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.flat-pages-title .content {
    text-align: center;
    margin-bottom: 91px;
}

.flat-pages-title .content h1 {
    font-size: 54px;
    font-weight: 800;
    text-transform: capitalize;
    line-height: 74px;
    margin-bottom: 30px;
}

.flat-pages-title .content p {
    color: rgba(255, 255, 255, 0.53);
    font-size: 14px;
    font-family: "Azeret Mono";
    line-height: 22px;
    max-width: 634px;
    margin: auto;
    margin-bottom: 50px;
}

.tf-button.h50 {
    height: 50px;
}

.tf-button.w190 {
    width: 190px;
}

/* icon-background */
.flat-pages-title .icon-background .item1 {
    left: 22px;
    top: 200px;
}

.flat-pages-title .icon-background .item2 {
    left: 125px;
    top: 70px;
}

.flat-pages-title .icon-background .item3 {
    left: 185px;
    top: 200px;
}

.flat-pages-title .icon-background .item4 {
    left: 380px;
    top: 300px;
}

.flat-pages-title .icon-background .item5 {
    right: 380px;
    top: 300px;
}

.flat-pages-title .icon-background .item6 {
    right: 185px;
    top: 150px;
}

.flat-pages-title .icon-background .item7 {
    right: 100px;
    top: 270px;
}

.flat-pages-title .icon-background .item8 {
    right: 10px;
    top: 70px;
    width: 19px;
    height: 20px;
}

.flat-pages-title .tf-card-box .card-media img {
    height: 338px;
}

/* swiper-container */
.flat-pages-title .swiper-container {
    padding-bottom: 77px;
}

.flat-pages-title .swiper-container .swiper-slide-active .tf-card-box {
    box-shadow: 0px 30px 70px 0px #0A0A0A;
}

.swiper-pagination.pagination-number .swiper-pagination-bullet {
    color: #FFF;
    opacity: 1;
    font-size: 16px;
    font-weight: 800;
    margin: 0 10px !important;
    position: relative;
}

.swiper-pagination.pagination-number .swiper-pagination-bullet-active {
    --swiper-theme-color: none;
    color: #DDF247;
    margin-right: 60px !important;
    
}

.swiper-pagination.pagination-number .swiper-pagination-bullet-active::after {
    position: absolute;
    content: "";
    background-color: #DDF247;
    width: 30px;
    height: 1px;
    top: 8px;
    right: -50px;
}

.flat-pages-title .swiper-button-prev,
.flat-pages-title .swiper-button-next {
    opacity: 0 !important;
}

.flat-pages-title:hover .swiper-button-prev,
.flat-pages-title:hover .swiper-button-next {
    opacity: 1 !important;
}

.flat-pages-title .swiper-button-disabled {
    pointer-events: all !important;
    cursor: pointer !important;
}

.swiper-button-prev.over, 
.swiper-button-next.over {
    border-radius: 999px;
    border: 1px solid rgba(255, 255, 255, 0.10);
    background: rgba(255, 255, 255, 0.10);
    width: 67px;
    height: 67px;
    padding: 22px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.swiper-button-prev.over:hover, 
.swiper-button-next.over:hover {
    background-color: #DDF247;
}

.swiper-button-prev.over::after, 
.swiper-button-next.over::after {
    font-size: 24px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.swiper-button-prev.over:hover:after, 
.swiper-button-next.over:hover:after {
    color: rgba(22, 22, 22, 1);
}

.swiper-button-prev.over {
    left: -97px;
}

.swiper-button-next.over {
    right: -97px;
}

/* featured-item style-bottom */
.style-bottom .swiper-wrapper {
    padding-bottom: 24px;
}

.style-bottom .swiper-pagination-bullet {
    --swiper-theme-color:none ;
}

.style-bottom .swiper-pagination-bullet::after {
    content: "\e907";
    font-family: 'icomoon' !important;
}

.style-bottom .swiper-pagination-bullet-active::after {
    color: #DDF247;
}

.style-bottom .swiper-button-next::after,
.style-bottom .swiper-button-prev::after {
    font-family: 'icomoon' !important;
    font-size: 20px;
}

.style-bottom .swiper-button-next,
.style-bottom .swiper-button-prev {
    position: absolute;
    bottom  : -7px;
    opacity : 1;
    top     : auto;
}

.style-bottom .swiper-button-next {
    right: 43.9%;
}

.style-bottom .swiper-button-next::after {
    content: "\ea3c";
}

.style-bottom .swiper-button-prev {
    left: 44.5%;
}

.style-bottom .swiper-button-prev::after {
    content: "\ea40";
}

/* tf-author-box */
/* -------------------------------------- */
.tf-author-box .author-avatar {
    margin-bottom: 14px;
    position: relative;
}

.tf-author-box .author-avatar img {
    border-radius: 50%;
    overflow: hidden;
}

.tf-author-box .author-avatar .number {
    border-radius: 24px;
    background: #DDF247;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #161616;
    font-size: 13px;
    font-weight: 800;
    line-height: 18px;
    position: absolute;
    top: 0;
    right: 28px;
}

.tf-author-box .author-infor h5 {
    font-size: 18px;
    font-weight: 800;
    line-height: 25px;
    margin-bottom: 4px;
}

.price.gem.style-1 i::before,
.price.gem.style-1 {
    color: rgba(255, 255, 255, 0.3);
}

/* seller */
.seller .swiper-button-prev,
.seller .swiper-button-next {
    width: 44px;
    height: 44px;
}

.seller .swiper-button-prev::after,
.seller .swiper-button-next::after {
    font-size: 18px;
}

.seller .swiper-button-prev {
    left: -61px;
}

.seller .swiper-button-next {
    right: -61px;
}

.seller .swiper-button-next.active {
    background-color: #DDF247;
}

.seller .swiper-button-next.active::after {
    color: rgba(22, 22, 22, 1);
}

/* tf-soft */
.soft-left {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 14px;
}

.dropdown {
    width: 100%;
}

.dropdown .btn-secondary {
    background-color: transparent;
    padding: 10px 12px;
    font-size: 14px;
    font-weight: 800;
    line-height: 19px;
    text-transform: capitalize;
    color: #FFF;
    display: flex;
    align-items: center;
    border-radius: 12px;
    width: 100%;
    border: 1px solid rgba(255, 255, 255, 0.12);
}

.dropdown .btn-secondary:hover {
    border: 1px solid rgba(255, 255, 255, 0.12);
    background-color: #DDF247;
}

.dropdown .btn-secondary svg {
    width: 20px;
    height: 20px;
    margin-right: 6px;
}

.dropdown .btn-secondary:hover svg path {
    stroke: #292b2c;
}

/* collector */
/* ------------------------------ */
.top-collector-wrapper {
    position: relative;
    padding: 90px 0;
    /* filter: grayscale(100%); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: 
    url(../images/backgroup-section/bg-1.png)
    ;
}

.top-collector .heading-section {
    padding-bottom: 30px;
    justify-content: center;
}

/* tf-author-box style-1 */
.tf-author-box.style-1 {
    align-items: center;
    padding: 10px;
    border-radius: 10000px;
    background: rgba(255, 255, 255, 0.10);
    width: fit-content;
}

.tf-author-box.style-1 .author-avatar {
    margin-right: 16px;
    margin-bottom: 0;
}

.heading-background {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgba(255, 255, 255, 0.2);
    -webkit-text-fill-color: rgba(0, 0, 0, 0);
}

.top-collector-wrapper .heading-background {
    text-align: center;
    font-size: 200px;
    font-weight: 800;
    line-height: 273px;
    text-transform: capitalize;
    position: absolute;
    top: -18px;
    z-index: -1;
    width: 100%;
    left: 0;

}

/* tf-box-icon */
.tf-box-icon .image img {
    padding: 22.5px;
    border-radius: 20px;
    background: #1A1A1A;
    box-shadow: 0px 15px 30px -6px rgba(0, 0, 0, 0.55);
    border: 1px solid rgba(217, 217, 217, 0.1);
    margin-bottom: 30px;
    -webkit-transition: all 0.8s ease-in-out;
    -moz-transition   : all 0.8s ease-in-out;
    -ms-transition    : all 0.8s ease-in-out;
    -o-transition     : all 0.8s ease-in-out;
    transition        : all 0.8s ease-in-out;
}

.tf-box-icon:hover .image img {
    transform: rotateY(360deg);
}

.tf-box-icon .image p {
    color: rgba(255, 255, 255, 0.53);
    font-size: 12px;
    font-family: 'Azeret Mono';
    font-weight: 400;
    line-height: 19px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.tf-box-icon h4 {
    font-size: 20px;
    font-weight: 800;
    line-height: 27px;
    margin-bottom: 20px;
}

.tf-box-icon p {
    color: rgba(255, 255, 255, 0.53);
    font-size: 14px;
    font-family: 'Azeret Mono';
    font-weight: 400;
    line-height: 22px;
}

.tf-box-icon svg {
    position: absolute;
    top: -10px;
    right: -65px;
}

.tf-box-icon:hover svg * {
    fill: #DDF247;
}

/* style-1 */
.tf-box-icon.style-1 {
    border-radius: 30px;
    background: #232323;
    padding: 30px;
}

.tf-box-icon.style-1::after {
    position: absolute;
    content: "";
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    width: 177px;
    height: 10px;
    border-radius: 5px;
    z-index: -1;
    background: linear-gradient(to right,rgba(253, 207, 0, 1), rgba(253, 150, 1, 1));
}

.tf-box-icon.style-1 .image img {
    padding: 0;
    background: none;
    border-radius: unset;
    border: none;
}

.tf-box-icon.style-1 h4,
.tf-box-icon.style-1 .image p {
    margin-bottom: 12px;
}

/* action__body */
.action__body {
    padding: 50px 40px;
    background-color: rgba(221, 242, 71, 1);
    border-radius: 20px;
    position: relative;
    background-image: url(../images/backgroup-section/line.png);
    background-position: 0 35px;
    background-repeat: no-repeat;
    overflow: hidden;
}

.action__body h2 {
    color: #161616;
    font-size: 32px;
    font-weight: 800;
    line-height: 44px;
    margin-bottom: 30px;
    max-width: 330px;
}

.tf-button.style-2 {
    background-color: rgba(22, 22, 22, 1);
    color: rgba(221, 242, 71, 1);
    gap: 10px;
    flex-shrink: 0;
}

.tf-button i::before {
    font-size: 18px;
}

.tf-button.style-2:hover {
    color: rgba(22, 22, 22, 1);
    background-color: #fff;
}

.tf-button.w230 {
    width: 230px;
}

.tf-button.h50 {
    height: 50px;
}

.action__body img {
    position: absolute;
    top: 0;
    right: 0;
    animation: moveleft 5s infinite linear;
}

/* flat-pages-title-home2 */
.flat-pages-title-home2 {
    padding: 137px 0 108px 0;
    background-image: url(../images/item-background/bg-home2.png);
    background-position: 0 209px;
    background-repeat: no-repeat;
}

.flat-pages-title-home2 .content {
    padding-left: 42%;
}

.flat-pages-title-home2 .content h1 {
    font-size: 54px;
    font-weight: 800;
    text-transform: capitalize;
    line-height: 74px;
    margin-bottom: 30px;
}

.flat-pages-title-home2 .content p {
    color: rgba(255, 255, 255, 0.53);
    font-size: 14px;
    font-family: "Azeret Mono";
    line-height: 22px;
    margin-bottom: 50px;
}

.flat-pages-title-home2 .themesflat-container {
    width: 100%;
}

.flat-pages-title-home2 .banner__right {
    margin-left: 140px;
}

.tf-card-box.style-2 {
    width: 456px;
    height: 560px;
    flex-shrink: 0;
    padding: 0;
    background: none;
    margin-bottom: 0;
    position: relative;
    transform: none;
}

.tf-card-box.style-2 .card-media img {
    margin: -43px 0;
}

.tf-card-box.style-2 .author {
    position: absolute;
    top: 20px;
    left: 20px;
    padding: 10px;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.30);
    backdrop-filter: blur(2px);
}

.tf-card-box.style-2 .author * {
    color: #FFF;
}

.tf-card-box.style-2 .featured-countdown {
    top: 88px;
    left: 22px;
}

.tf-card-box.style-2 .wishlist-button {
    top: 88px;
    left: 120px;
}

.tf-card-box.style-2 .button-place-bid a {
    background: rgba(255, 255, 255, 0.30);
    backdrop-filter: blur(2px);
    color: #FFF;
}

.tf-card-box.style-2 .button-place-bid a:hover {
    background-color: #DDF247;
    color: #161616;
}

.flat-pages-title-home2 .swiper-button-disabled {
    cursor: pointer !important;
    opacity: 1 !important;
    pointer-events: all !important;
}

/* tf-category */
.tf-category {
    padding: 14px 10px;
    border-radius: 20px;
    background: #232323;
}

.tf-category .card-media {
    border-radius: 14px;
    overflow: hidden;
    margin-bottom: 12px;
    position: relative;
}

.tf-category .card-media::after {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    content: "";
    background: rgba(255, 255, 255, 0.10);
    backdrop-filter: blur(2px);
    opacity: 0;
    -webkit-transition: all 0.3s ease;
    -moz-transition   : all 0.3s ease;
    -ms-transition    : all 0.3s ease;
    -o-transition     : all 0.3s ease;
    transition        : all 0.3s ease;
}

.tf-category:hover .card-media::after {
    opacity: 1;
}

.tf-category .card-media a {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 44px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    border-radius: 12px;
    color: rgba(22, 22, 22, 1);
    background-color: #DDF247;
    opacity: 0;
    z-index: 1;
}

.tf-category .card-media a:hover {
    background-color: #FFF;
}

.tf-category .card-media a i {
    -webkit-transition: all 0.3s ease;
    -moz-transition   : all 0.3s ease;
    -ms-transition    : all 0.3s ease;
    -o-transition     : all 0.3s ease;
    transition        : all 0.3s ease;
}

.tf-category .card-media a:hover i {
    transform: rotate(45deg);
}

.tf-category:hover .card-media a {
    top: 50%;
    opacity: 1;
    -webkit-transition: all 0.3s ease;
    -moz-transition   : all 0.3s ease;
    -ms-transition    : all 0.3s ease;
    -o-transition     : all 0.3s ease;
    transition        : all 0.3s ease;
}

.tf-category h6 {
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
}

/* tf-author-box style-2 */
.tf-author-box.style-2 {
    display: flex;
    align-items: center;
    padding-bottom: 30px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.07);
}

.tf-author-box.style-2  .author-avatar {
    width: 80px;
    height: 80px;
    margin-right: 20px;
    border-radius: 50%;
    overflow: hidden;
}

.tf-author-box.style-2 .order {
    color: #DDF247;
    font-size: 32px;
    font-weight: 800;
    line-height: 44px;
    text-transform: capitalize;
    margin-left: 10px;
}