

/* container */
.themesflat-container {
    position     : relative;
    margin-left  : auto;
    margin-right : auto;
    padding-right: 15px;
    padding-left : 15px;
    width        : 1140px;
    max-width    : 100%;
}

/* button 
--------------------------------------------------*/
.tf-button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    color: #161616;
    background-color: #DEE8E8;
    padding      : 10px;
    border-radius: 12px;
    font-size: 14px;
    font-weight: 800;
    width: 116px;
    height: 42px;
    text-transform: capitalize;
    -webkit-transition: all 0.3s ease;
    -moz-transition   : all 0.3s ease;
    -ms-transition    : all 0.3s ease;
    -o-transition     : all 0.3s ease;
    transition        : all 0.3s ease;
}

.tf-button:hover,
.tf-button.active {
    color: #161616;
    background-color: #DDF247;
}

.tf-button.style-1 {
    width: 170px;
    height: 44px;
    gap: 10px;
    flex-shrink: 0;
    background-color: #DDF247;
}

.tf-button.style-1:hover,
.tf-button.style-1.active {
    color: #161616;
    background-color: #fff;
}

/* tf-button loadmore */
.tf-button-loadmore {
    width: 160px;
    height: 44px;
    padding: 10px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 12px;
    background: #DEE8E8;
    -webkit-transition: all 0.3s ease;
    -moz-transition   : all 0.3s ease;
    -ms-transition    : all 0.3s ease;
    -o-transition     : all 0.3s ease;
    transition        : all 0.3s ease;
}

.tf-button-loadmore:hover {
    background-color: #DDF247;
}

.tf-button-loadmore span {
    color: #161616;
    font-size: 14px;
    line-height: 19px;
    font-weight: 800;
    text-transform: capitalize;
}

.tf-button-loadmore i.icon-loading-1::before {
    font-size: 18px;
    color: rgba(22, 22, 22, 1);
}

.tf-button-loadmore:hover i {
    animation: rotate360 1.5s infinite linear;
}

/* flat-title-page */
.flat-title-page {
    padding-top: 60px;
    padding-bottom: 50px;
}

.flat-title-page .heading {
    line-height: 55px;
    color: #fff;
    font-weight: 800;
    text-transform: capitalize;
    margin-bottom: 10px;
}

.breadcrumbs li {
    margin-right: 32px;
    opacity: 0.5;
    position: relative;
}

.breadcrumbs li.icon-keyboard_arrow_right::before {
    position: absolute;
    right: -22px;
    font-size: 12px;
}

.breadcrumbs li a {
    color: #FFF;
    text-align: center;
    font-size: 14px;
    font-family: 'Manrope';
    font-weight: 800;
    text-transform: capitalize;
    line-height: 10px;
}

/* tf card article 
--------------------------------------------------*/
.tf-card-article {
    background        : #232323;
    padding           : 20px;
    border-radius     : 20px;
    margin-bottom     : 40px;
    -webkit-transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    transition        : all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.tf-card-article:hover {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
}

.tf-card-article .card-media {
    border-radius: 17px;
    overflow: hidden;
    margin-bottom: 12px;
}

.tf-card-article .card-media img {
    width: 100%;
    object-fit: cover;
    -webkit-transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.tf-card-article:hover .card-media img {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
    object-fit: cover;
}

.meta-info .item {
    color:#fff;
    opacity: 0.6;
    font-size: 14px;
    line-height: 16px;
    font-family: Manrope;
    font-weight: 500;
    margin-right: 14px;
    margin-left: 22px;
    position: relative;
    -webkit-transition: all 0.3s ease;
    -moz-transition   : all 0.3s ease;
    -ms-transition    : all 0.3s ease;
    -o-transition     : all 0.3s ease;
    transition        : all 0.3s ease;
}

.meta-info .item::before {
    position: absolute;
    font-family: "icomoon";
    left: -22px;
    font-size: 16px;
}

.meta-info .art::before {
    content: "\e90c";
}

.meta-info .date::before {
    content: "\e90d";
}

.meta-info .comment::before {
    content: "\e92a";
}

.meta-info .item.active,
.meta-info .item:hover {
    color: #DDF247;
    opacity: 1;
}

.tf-card-article .card-title {
    margin-bottom: 0;
}

.tf-card-article .card-title h5 {
    margin-top: 12px;
    font-size: 20px;
    font-weight: 800;
    line-height: 27px;
}

.tf-card-article .card-title p {
    color: rgba(255, 255, 255, 0.53);
    font-size: 14px;
    font-family: 'Azeret Mono';
    line-height: 22px;
    margin-top: 18px;
}

.tf-card-article .card-bottom {
    margin-top: 20px;
    border-top: 1px solid rgba(255, 255, 255, 0.08);
    padding-top: 20px;
}

.author .avatar {
    width: 38px;
    height: 38px;
    border-radius: 38px;
    overflow: hidden;
    margin-right: 10px;
    flex-shrink: 0;
}

.author .info span {
    font-size: 12px;
    color: rgba(255, 255, 255, 0.3);
    font-family: 'Azeret Mono';
    line-height: 19px;
}

.author .info h6 {
    font-size: 12px;
    font-family: 'Azeret Mono';
    line-height: 19px;
    font-weight: 400;
}

.tf-card-article .link {
    width: 44px;
    height: 44px;
    padding: 10px;
    border-radius: 12px;
    background: rgba(255, 255, 255, 0.05);
    display: flex;
    justify-content: center;
    align-items: center;
}

.tf-card-article .link i {
    font-size: 18px;
    -webkit-transition: all 0.3s ease;
    -moz-transition   : all 0.3s ease;
    -ms-transition    : all 0.3s ease;
    -o-transition     : all 0.3s ease;
    transition        : all 0.3s ease;
}

.tf-card-article .link:hover i {
    transform: rotate(45deg);
}

/* tf-grid-blog */
.tf-blog-detail .side-bar,
.tf-list-blog .side-bar,
.tf-grid-blog .side-bar {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
}

.tf-blog-detail .wrap-inner,
.tf-list-blog .wrap-inner,
.tf-grid-blog .wrap-inner {
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
}

/* side-bar */
/* ----------------------------------------- */
.side-bar .widget-search {
    margin-bottom: 30px;
}

.side-bar .widget {
    margin-bottom: 30px;
    padding: 20px;
    background-color: #232323;
    border-radius: 20px;
}

.side-bar .title-widget {
    margin-bottom: 20px;
    line-height: 25px;
    font-weight: 800;
}

.widget-categories ul li {
    display: flex;
    justify-content: space-between;
    padding-bottom: 14px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.08);
    margin-bottom: 14px;
}

.widget-categories ul li:last-child {
    padding: 0;
    border: none;
    margin: 0;
}

.widget-categories ul li .cate-item {
    padding-left: 23px;
    font-size: 14px;
    font-family: 'Azeret Mono';
    line-height: 22px;
    position: relative;
}

.widget-categories ul li .cate-item::before {
    font-family: 'icomoon';
    content: "\e92b";
    position: absolute;
    left: 0;
    font-size: 16px;
}

.widget-categories ul li .number {
    font-size: 14px;
    font-family: 'Azeret Mono';
    line-height: 22px;
    color: rgba(255, 255, 255, 0.53);
}

.widget-related-posts .related-posts-item {
    display: flex;
    margin-top: 20px;
    border-top: 1px solid rgba(255, 255, 255, 0.08);
    padding-top: 20px;
}

.widget-related-posts .related-posts-item .card-media {
    min-width: 130px;
    height: 91px;
    margin-right: 15px;
    border-radius: 14px;
    overflow: hidden;
}

.widget-related-posts .related-posts-item h5 {
    font-size: 14px;
    font-weight: 800;
    line-height: 19px;
    margin-bottom: 12px;
}

.widget-related-posts .related-posts-item .item {
    color: #fff;
    opacity: 0.6;
    font-size: 14px;
    line-height: 16px;
    font-family: Manrope;
    font-weight: 500;
    margin-right: 14px;
    margin-left: 22px;
    position: relative;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.widget-related-posts .related-posts-item .item::before {
    position: absolute;
    content: "\e90d";
    font-family: "icomoon";
    left: -22px;
    font-size: 16px;
}

.widget-related-posts .related-posts-item .item.art::before {
    content: "\e90c";
}

.widget-related-posts .related-posts-item.main {
    flex-wrap: wrap;
    margin-top: 0;
    border: none;
    padding-top: 0;
}

.widget-related-posts .related-posts-item.main .card-media {
    height: auto;
    margin-bottom: 16px;
    margin-right: 0;
}

.widget-related-posts .related-posts-item.main h5 {
    font-size: 16px;
    line-height: 22px;
    padding-top: 12px;
    margin-bottom: 0;
}

.widget-tag ul li {
    margin-right: 8px;
    margin-bottom: 8px;
}

.widget-tag ul li a {
    line-height: 15px;
    padding: 10px 14px;
    font-size: 13px;
    font-family: 'Azeret Mono';
    border-radius: 10px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    color: #000;
}

.widget-tag ul li a:hover {
    background-color: #DDF247;
}

/* tf-list-blog */
/* --------------------------------------- */
.tf-list-blog .tf-card-article {
    transform: none;
}

.tf-card-article.style-1 {
    display: flex;
}

.tf-card-article.style-1 .card-media {
    margin-bottom: 0 !important;
    margin-right: 20px;
    min-width: 335px;
}

/* tf-blog-detail */
/* --------------------------------------- */
.flat-title-page.blog-detail {
    padding-top: 50px;
    padding-bottom: 40px;
}

.tf-blog-detail .divider {
    width: 100%;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.1);
    margin-top: 18px;
    margin-bottom: 30px;
}