.widget-list-author{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}
.widget-list-author .themsflat-container .row{
    margin-bottom: 30px;
}

.widget-list-author .themsflat-container .row>div{
    gap: 60px;
}

.widget-list-author .tf-author-box.style-2{
    display: flex;
    padding: 24px;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    border-radius: 20px;
    background: #232323;
}

.tf-author-box.style-2 .order{
    color: #fff !important;
    opacity: 0.10000000149011612;
}

.widget-list-author .themsflat-container .row.highlight .tf-author-box.style-2 .order{
    color: #DDF247 !important;
    opacity: 1;
}


.widget-pagination{
    display: flex;
    align-items: center;
    gap: 10px;
}

.widget-pagination .item{
    display: flex;
    width: 44px;
    height: 44px;
    padding: 13px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.12);
}
.widget-pagination .item.active{
    background:#DDF247;
}
.widget-pagination .item.active a{
    color: #161616;
}

.widget-grid-author .themsflat-container{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.widget-grid-author .themsflat-container .row>div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.widget-grid-author .tf-author-box.style-3 {
    display: flex;
    width: 160px;
    flex-direction: column;
    align-items: center;
    gap: 14px;
}

.widget-grid-author .tf-author-box.style-3 .author-grid-avatar{
    position: relative;
}

.widget-grid-author .tf-author-box.style-3 .author-grid-avatar .order{
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    background: #DDF247;
    border-radius: 24px;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 0px;
    right: -15px;
    color: #161616;
    align-items: center;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    font-size: 13px;
}
.widget-grid-author .tf-author-box.style-3 .author-grid-avatar img{
    border-radius: 20px;
}

.widget-grid-author .tf-author-box.style-3 .author-infor .price{
    text-align: center;
}

